#!/usr/bin/make -f
UNISON_RELEASE=https://github.com/unisonweb/unison/releases/download/trunk-build/ucm-linux-x64.tar.gz
%:
	dh $@

override_dh_clean:
	rm -rf build
	dh_clean

override_dh_auto_build:
	mkdir -p build
	wget ${UNISON_RELEASE} -O- | tar xvzf - -C build


override_dh_install:
	dh_install

override_dh_strip:
	echo

override_dh_shlibdeps:
	dh_shlibdeps -Xunison-runtime
