#!/usr/bin/make -f
%:
	dh $@

override_dh_clean:
	rm -rf build
	dh_clean

override_dh_auto_build:
	mkdir -p build
	tar xzf ucm-linux.tar.gz -C build

override_dh_install:
	dh_install

override_dh_strip:
	echo

override_dh_shlibdeps:
	dh_shlibdeps -Xunison-runtime
